/vendor
/node_modules
/public/build
/public/hot
/public/storage
/.env
/.env.backup
/.env.production
/database/database.sqlite
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

